body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  background-color: red;
}

.App {
  display: flex;
  flex-direction: column;
}
.display-container {
  display: flex;
  justify-content: center;
}
.submit {
  width: 200px;
  height: 50px;
  border-radius: 10px;
}